*, ::before, ::after {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #E9E7DA;
}

body {
    background-color: #121010;
    color: var(--main-color);
    padding: 2.5rem 4.5rem;
}

h1, .hero-title_span {
    font-family: "EB Garamond", serif;
    font-size: 3.125rem;
    font-weight: 800;
}

a {
    color: var(--main-color);
    text-decoration: none;
}

/* Navigation */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left, .navbar > ul {
    display: flex;
    align-items: center;
}

.navbar > ul {
    margin-left: 3rem;
    list-style: none;
}

.nav-link {
    margin-right: 1.8rem;
}

button {
    background-color: var(--main-color);
    color: #181515;
    font-weight: 600;
    padding: 0.8rem 1.25rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.hero-section, .benefits-section {
    padding: 6.25rem 0;
}

.hero-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-title {
    display: flex;
    flex-wrap: wrap;
    width: 40rem;
}
.hero-paragraph {
    width: 28rem;
    font-size: 1.125rem;
    text-align: end;
}

.hero-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-auto-rows: 37.5rem;
    gap: 0.625rem;
    margin-top: 1.875rem;
}

.hero-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-grid > img:first-child {
    border-bottom-left-radius: 10.95rem;
}

.hero-grid > img:last-child {
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
}

/* Brand Logo Section */
.brand-section {
    padding: 0 1.875rem;
}

.brand-grid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
}

.benefits-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.benefits-cards > .card {
    flex: 1 1 30%;
}

.card {
    width: 700px;
}

.icon-wrapper {
    display: flex;
    width: 4.38rem;
    height: 4.38rem;
    justify-content: center;
    align-items: center;
    background: #E9E7DA;
    border: 2px solid;
    border-radius: 1rem;
}

.card-hover:hover .icon-wrapper {
    background-color: #121010;
    border: 2px solid #E9E7DA;
    transition: 0.3s ease;
}

.card-hover:hover .icon-hover {
    stroke: #fff;
    transition: 0.3s ease;
}

/* Media Queries */
@media screen and (max-width: 1440px ) {
    .hero-grid {
        grid-auto-rows: 25rem;
    }
}